.wapper
  <!DOCTYPE html>
  %html(lang="en")
    %head
      %meta(charset="UTF-8")/
      %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
      %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
      %title Document
    %body
      %header
        .heading
          %h1.title Error Solution
        .menu
          = link_to "言語の登録", new_genre_path, class: 'language'  
          = link_to "新規登録", new_user_registration_path, class: 'user'
          = link_to "ログイン", new_user_session_path, class: 'login'
        .navbar
          %ul.genre
            %li Ruby
            %li Rails
            %li JavaScript
            %li HTML
            %li CSS
            %li AWS
            %li SQL
            %li jQuery
      .main
        = form_with(model: @problem, local: true) do |f|
          .content
            .about 
              WHAT?
              .input_area
                = f.text_field :title, class: 'input_box', placeholder: 'type a title'
            .code 
              CODE?
              .input_area
                = f.text_field :code, class: 'input_box', placeholder: 'type a code'
            .case  
              WHY?
              .input_area
                = f.text_field :cause, class: 'input_box', placeholder: 'type a case'
            .solution 
              HOW TO?
              .input_areas
                = f.text_field :solution, class: 'input_box', placeholder: 'type a how to'
            .submit
              = f.submit "INPUT", class: 'submit_area'




